## ignore everything
*

#################
!.gitignore
!README.md
!*/

###################
!BasicConcepts/
BasicConcepts/*
!BasicConcepts/Study/
BasicConcepts/Study/*
!BasicConcepts/Study/Extensions
BasicConcepts/Study/Extensions/*
!BasicConcepts/Study/Extensions/*.cs
!BasicConcepts/Study/*.cs
!BasicConcepts/StudyCsharpApp/
BasicConcepts/StudyCsharpApp/*
!BasicConcepts/StudyCsharpApp/*.cs
!BasicConcepts/StudyCsharpApp/*.sln


###################
!Accounts/
Accounts/*
!Accounts/AccountsApp-Homework-Description.pdf
!Accounts/*.cs
!Accounts/*.sln
!Accounts/AccountItem/
Accounts/AccountItem/*
!Accounts/AccountItem/Extensions/
Accounts/AccountItem/Extensions/*
!Accounts/AccountItem/Extensions/*.cs
!Accounts/AccountItem/*.cs

##################
!OvenApp/
OvenApp/*
!OvenApp/*.cs
!OvenApp/README*
!OvenApp/*.sln