## ignore everything
*

#################
!.gitignore
!README.md
!*/

###################
!BasicConcepts/
BasicConcepts/*
!BasicConcepts/Study/
BasicConcepts/Study/*
!BasicConcepts/Study/Extensions
BasicConcepts/Study/Extensions/*
!BasicConcepts/Study/Extensions/*.cs
!BasicConcepts/Study/*.cs
!BasicConcepts/StudyCsharpApp/
BasicConcepts/StudyCsharpApp/*
!BasicConcepts/StudyCsharpApp/*.cs
!BasicConcepts/StudyCsharpApp/*.sln


###################
#!Accounts/
#Accounts/*
#!Accounts/AccountsApp-Homework-Description.pdf
#!Accounts/*.cs
#!Accounts/*.sln
#!Accounts/AccountItem/
#Accounts/AccountItem/*
#!Accounts/AccountItem/Extensions/
#Accounts/AccountItem/Extensions/*
#!Accounts/AccountItem/Extensions/*.cs
#!Accounts/AccountItem/*.cs


###################
!AccountBook/
AccountBook/*
!/AccountBook/AccountsApp-Homework-Description.pdf
!AccountBook/README.md
!AccountBook/AccountConsoleApp/
!AccountBook/AccountItem/
!AccountBook/AccountWPFAPP/
AccountBook/AccountConsoleApp/*
AccountBook/AccountItem/*
AccountBook/AccountWPFAPP/*
!AccountBook/AccountConsoleApp/*.cs
!AccountBook/AccountConsoleApp/*.sln
!AccountBook/AccountItem/*.cs
!AccountBook/AccountItem/Extensions/
AccountBook/AccountItem/Extensions/*
!AccountBook/AccountItem/Extensions/*.cs
!AccountBook/AccountWPFAPP/*.cs

##################
!OvenApp/
OvenApp/*
!OvenApp/*.cs
!OvenApp/README*
!OvenApp/*.sln